# Table of Contents
### 1. Import Librairies
### 2. Import Data
### 3. Merge Data Frames
##### Combining "orders_products_combined" and "products_checked"
### 4. Export Data

# 1. Import Librairies

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

#  2. Import Data

In [2]:
#Creating path
path = r'C:\Users\manev\Documents\Agentür für Arbeit\CareerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis'

In [3]:
#Create data frame for the "orders_products_combined" data set
df_ords_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
#Checking the shape of df_ords_products_combined
df_ords_products_combined.shape

(32434489, 9)

In [5]:
#Create data frame for the "products_checked" data set
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# 3. Merge Data Frames

### Combining "orders_products_combined" and "products_checked"

We will look for common keys between the two data sets and observe their shape (focusing on the number of columns).

In [6]:
df_ords_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [7]:
df_ords_products_combined.shape

(32434489, 9)

In [8]:
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods_checked.shape

(49672, 5)

We can use the product_id as a key to combine both data sets. The combined dataframe will be wide format.

In [10]:
#Creating an outer merged dataframe
df_products_outer_merged = df_ords_products_combined.merge(df_prods_checked, on = 'product_id', how='outer', indicator = True)

In [11]:
#Checking if it's a full match
df_products_outer_merged['_merge'].value_counts()

_merge
both          32404859
left_only        30200
right_only          11
Name: count, dtype: int64

We are deciding to use an inner merge to only keep data that matches in both dataframes.

In [12]:
#Creating an inner merged dataframe
df_products_merged = df_ords_products_combined.merge(df_prods_checked, on = 'product_id', indicator = True)

In [13]:
#Checking if it's a full match
df_products_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
df_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [15]:
df_products_merged.shape

(32404859, 14)

# 4. Export Data

In [16]:
# Export df_merged_large to pkl

df_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))